# Set default index file
DirectoryIndex index.php

# Disable indexing
Options -Indexes

# Allow access to index.php
<Files index.php>
    Order Allow,Deny
    Allow from all
</Files>

# Deny access to all other files
<FilesMatch ".*">
    Order Deny,Allow
    Deny from all
</FilesMatch>

